
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

#app {
    background: linear-gradient(skyblue, lightpink);
    height: 1700px;
}

.header {
    color: skyblue;
    font-size: 20px;
}

#book-wrapper {
    display: flex;
    flex-direction: row;
}
.book-btn {
    border-radius: 10px;
    border: black solid 2px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    color: deeppink;
}


